*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

header {
    /* width: 100vw; */
    display: flex;
    align-items: center;
    box-shadow: 0 .2rem .7rem rgba(0, 0, 0, 0.2);
    padding: 1.5em 2em;
    justify-content: space-between;
    margin-bottom: 2em;

}

header .navbar {
    position: absolute;
    background-color: #fff;
    /* display: none; */
    /* left: 0rem; */
    right: 0rem;
    top: 6rem;
    padding: 2em;
    box-shadow: 0 .2rem .7rem rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width: 768px){
    .hamburger-container{
        display: none;
    }

    header .navbar{
        position: relative;
    top: 0rem;
    padding: 0em;
    box-shadow: 0 0rem 0rem transparent;
    }

    .navbar ul{
        display: flex;
        align-items: center;
    }
}